:root {
    --main-color: #FFA500;
    --main-color-light: #FFC107;
    --main-color-light-dim: #fff280;
    --focus-color: #da8d00;
    --grey-color: #E9ECEF;
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-main-color-light {
    background-color: var(--main-color-light);
}

.bg-main-color-light-dim{
    background-color: var(--main-color-light-dim);
}

.text-main-color {
    color: var(--main-color);
}

.border-main-color {
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: var(--main-color-light);
}

.border-bottom-color {
    border-color: var(--main-color-light);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}

.nav-item:hover {
    background-color: var(--focus-color);
}

.modal input, .modal textarea, .modal select{
    background-color: var(--grey-color);
}

.action-icon {
    cursor: pointer;
    color: var(--main-color);
}

.action-icon:hover {
    cursor: pointer;
    color: var(--focus-color);
}
